.hero_Content h1{
    font-size: 3.2rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: white;
}
.hero_Content p{
    font-size: 1.1rem;
    line-height: 2rem;
}
.hero_img-box img, .hero_img-box video{
    width: 100%;
    height: 350px;
    border-radius: 20px;
    object-fit: cover;
}
.hero_Content{
    padding-top: 3.5rem;
    color: white;
}
.hero_img-box{
    padding-top: 2rem;
}
.hero{
    background-image: url(./../assets/images/homeback.jpg);
    background-size: 100%;
}

.subtitle{
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--secondary-color);
    font-family: var(--subtitle-font-name);
}
.service_title{
    font-size: 2.5rem;
    font-weight: 500;
}

.featured_tour-title{
    font-size: 2.5rem;
    font-weight: 500;
}