
.pagination span{
    width: 2rem;
    height: 2rem;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 700;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    color: var(--heading-color);
}

.active_page{
    background: var(--primary-color);
    color: #fff !important;
}